.widget.categories
  header
    h3.h6 Категории
  .item.d-flex.justify-content-between
    a(href="#") Growth
    span 12
  .item.d-flex.justify-content-between
    a(href="#") Local
    span 25
  .item.d-flex.justify-content-between
    a(href="#") Sales
    span 8
  .item.d-flex.justify-content-between
    a(href="#") Tips
    span 17
  .item.d-flex.justify-content-between
    a(href="#") Local
    span 25