.widget.latest-posts
  header
    h3.h6 Свежие статьи
  .blog-posts
    each article in articles
      a(href=""+article.pathname)
        .item.d-flex.align-items-center
          .image
            img.img-fluid(src=""+article.img  alt=""+article.header)
          .title
            strong #{article.header}
            .d-flex.align-items-center
              .views
                i.icon-eye
                |  500
              .comments
                i.icon-comment
                | 12