.widget.search
  header
    h3.h6 Поиск по сайту
  form.search-form(action="#")
    .form-group
      input(type="search" placeholder="Что вы ищете?")
      button.submit(type="submit")
        i.icon-search