extends common/layout.pug
block page    
    include page/index/landing
    include page/index/description
    include page/index/articles
    include page/index/info
    include page/index/newsletter
    include page/index/gallery