- var posts = articles.slice(9)
main.posts-listing.col-lg-8
  .container
    .row
      each article, index in posts
        .post.col-xl-6
          .post-thumbnail
            a(href="" + article.pathname)
              img.img-fluid(src=""+article.img  alt=""+article.header)
          .post-details
            .post-meta.d-flex.justify-content-between
              .date.meta-last 20 May | 2016
              .category
                each categoriy in article.categories
                  a(href="#") #{categoriy}
            a(href="" + article.pathname)
              h3.h4 #{article.header}
            p.text-muted #{article.paragraphs[0]}
            footer.post-footer.d-flex.align-items-center
              a.author.d-flex.align-items-center.flex-wrap(href="#")
                .avatar
                  img.img-fluid(src="img/avatar-3.jpg" alt="...")
                .title
                  span John Doe
              .date
                i.icon-clock
                |  2 months ago
              .comments.meta-last
                i.icon-comment
                | 12


    nav(aria-label="Page navigation example")
      ul.pagination.pagination-template.d-flex.justify-content-center
        li.page-item
          a.page-link(href="#")
            i.fa.fa-angle-left
        li.page-item
          a.page-link.active(href="#") 1
        li.page-item
          a.page-link(href="#") 2
        li.page-item
          a.page-link(href="#") 3
        li.page-item
          a.page-link(href="#")
            i.fa.fa-angle-right