// Latest Posts
main.posts-listing.col-lg-8
  .container
    .row
      // post
      .post.col-xl-6
        .post-thumbnail
          a(href="post.html")
            img.img-fluid(src="img/blog-post-1.jpeg" alt="...")
        .post-details
          .post-meta.d-flex.justify-content-between
            .date.meta-last 20 May | 2016
            .category
              a(href="#") Business
          a(href="post.html")
            h3.h4 Alberto Savoia Can Teach You About Interior
          p.text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
          footer.post-footer.d-flex.align-items-center
            a.author.d-flex.align-items-center.flex-wrap(href="#")
              .avatar
                img.img-fluid(src="img/avatar-3.jpg" alt="...")
              .title
                span John Doe
            .date
              i.icon-clock
              |  2 months ago
            .comments.meta-last
              i.icon-comment
              | 12
      // post
      .post.col-xl-6
        .post-thumbnail
          a(href="post.html")
            img.img-fluid(src="img/blog-post-2.jpg" alt="...")
        .post-details
          .post-meta.d-flex.justify-content-between
            .date.meta-last 20 May | 2016
            .category
              a(href="#") Business
          a(href="post.html")
            h3.h4 Alberto Savoia Can Teach You About Interior
          p.text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
          .post-footer.d-flex.align-items-center
            a.author.d-flex.align-items-center.flex-wrap(href="#")
              .avatar
                img.img-fluid(src="img/avatar-2.jpg" alt="...")
              .title
                span John Doe
            .date
              i.icon-clock
              |  2 months ago
            .comments.meta-last
              i.icon-comment
              | 12
      // post
      .post.col-xl-6
        .post-thumbnail
          a(href="post.html")
            img.img-fluid(src="img/blog-post-3.jpeg" alt="...")
        .post-details
          .post-meta.d-flex.justify-content-between
            .date.meta-last 20 May | 2016
            .category
              a(href="#") Business
          a(href="post.html")
            h3.h4 Alberto Savoia Can Teach You About Interior
          p.text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
          .post-footer.d-flex.align-items-center
            a.author.d-flex.align-items-center.flex-wrap(href="#")
              .avatar
                img.img-fluid(src="img/avatar-3.jpg" alt="...")
              .title
                span John Doe
            .date
              i.icon-clock
              |  2 months ago
            .comments.meta-last
              i.icon-comment
              | 12
      // post
      .post.col-xl-6
        .post-thumbnail
          a(href="post.html")
            img.img-fluid(src="img/blog-post-4.jpeg" alt="...")
        .post-details
          .post-meta.d-flex.justify-content-between
            .date.meta-last 20 May | 2016
            .category
              a(href="#") Business
          a(href="post.html")
            h3.h4 Alberto Savoia Can Teach You About Interior
          p.text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
          .post-footer.d-flex.align-items-center
            a.author.d-flex.align-items-center.flex-wrap(href="#")
              .avatar
                img.img-fluid(src="img/avatar-1.jpg" alt="...")
              .title
                span John Doe
            .date
              i.icon-clock
              |  2 months ago
            .comments.meta-last
              i.icon-comment
              | 12
    // Pagination
    nav(aria-label="Page navigation example")
      ul.pagination.pagination-template.d-flex.justify-content-center
        li.page-item
          a.page-link(href="#")
            i.fa.fa-angle-left
        li.page-item
          a.page-link.active(href="#") 1
        li.page-item
          a.page-link(href="#") 2
        li.page-item
          a.page-link(href="#") 3
        li.page-item
          a.page-link(href="#")
            i.fa.fa-angle-right