section.featured-posts.no-padding-top
  .container
    // Post
    .row.d-flex.align-items-stretch
      .text.col-lg-7
        .text-inner.d-flex.align-items-center
          .content
            header.post-header
              .category
                a(href="#") Business
                a(href="#") Technology
              a(href="post.html")
                h2.h4 Alberto Savoia Can Teach You About Interior
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              | magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt.
            footer.post-footer.d-flex.align-items-center
              a.author.d-flex.align-items-center.flex-wrap(href="#")
                .avatar
                  img.img-fluid(src="img/avatar-1.jpg" alt="...")
                .title
                  span John Doe
              .date
                i.icon-clock
                |  2 months ago
              .comments
                i.icon-comment
                | 12
      .image.col-lg-5
        img(src="img/featured-pic-1.jpeg" alt="...")
    // Post
    .row.d-flex.align-items-stretch
      .image.col-lg-5
        img(src="img/featured-pic-2.jpeg" alt="...")
      .text.col-lg-7
        .text-inner.d-flex.align-items-center
          .content
            header.post-header
              .category
                a(href="#") Business
                a(href="#") Technology
              a(href="post.html")
                h2.h4 Alberto Savoia Can Teach You About Interior
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              | magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor
              | incididunt.
            footer.post-footer.d-flex.align-items-center
              a.author.d-flex.align-items-center.flex-wrap(href="#")
                .avatar
                  img.img-fluid(src="img/avatar-2.jpg" alt="...")
                .title
                  span John Doe
              .date
                i.icon-clock
                |  2 months ago
              .comments
                i.icon-comment
                | 12