section.intro
  .container
    .row
      .col-lg-8
        h2.h3 Мы рады приветствовать Вас на нашем проекте
        p.text-big
          | И надеемся, что вы найдете здесь ответы на интересующие вас вопросы. Для получения дополнительной информации и знакомства с нашими компаниями приглашаем посетить наши офисы.
      .col-lg-4 !{advBlocks[0]}