section.gallery.no-padding
  .row
    .mix.col-lg-3.col-md-3.col-sm-6
      .item
        a.image(href="img/gallery-1.jpg" data-fancybox="gallery")
          img.img-fluid(src="img/gallery-1.jpg" alt="...")
          .overlay.d-flex.align-items-center.justify-content-center
            i.icon-search
    .mix.col-lg-3.col-md-3.col-sm-6
      .item
        a.image(href="img/gallery-2.jpg" data-fancybox="gallery")
          img.img-fluid(src="img/gallery-2.jpg" alt="...")
          .overlay.d-flex.align-items-center.justify-content-center
            i.icon-search
    .mix.col-lg-3.col-md-3.col-sm-6
      .item
        a.image(href="img/gallery-3.jpg" data-fancybox="gallery")
          img.img-fluid(src="img/gallery-3.jpg" alt="...")
          .overlay.d-flex.align-items-center.justify-content-center
            i.icon-search
    .mix.col-lg-3.col-md-3.col-sm-6
      .item
        a.image(href="img/gallery-4.jpg" data-fancybox="gallery")
          img.img-fluid(src="img/gallery-4.jpg" alt="...")
          .overlay.d-flex.align-items-center.justify-content-center
            i.icon-search