section.hero(style="background: url(img/hero.jpg); background-size: cover; background-position: center center")
  .container
    .row
      .col-lg-7
        h1 #{title} - #{description}
    a.continue.link-scroll(href=".intro")
      i.fa.fa-long-arrow-down
      |  Прокрутить вниз